

<div class="contenedor">

    <header class="title">
    <h2 ><strong>
      Lista de Restaurantes
      </strong>
    </h2>
    </header>
  <br>
  <ng-container *ngFor="let restaurant of restaurants">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-4 image">
          <img class="img-fluid" (click)="upRestaurant(restaurant._id)" src="{{url+'get-img-restaurant/'+restaurant.imagen}}">
        </div>
        <div class="col-sm-8 texto ">
          <a class="enlace" (click)="upRestaurant(restaurant._id)">
            <strong><p class="desafio">{{restaurant.nombre}}</p></strong></a>
          <p class="tiempo">{{restaurant.descripcion}}</p>
          <div class="botones">
              <mat-card-actions>
                <button mat-raised-button color="primary" (click)="upRestaurant(restaurant._id)">VER</button>
              </mat-card-actions>
            </div>
            <br>
        </div>
      </div>
    </div>
  </div>
  <br>
  </ng-container>
  <br>
  </div>

  <div *ngIf="bandera==0">
  <section  class="contenedor"></section>
  </div>


