<div class="contenedor col-md-12">

  <br>
  <div class="container">

            <div class="title">
                <h4 >{{title}}</h4>
               </div>
<br>

    <form>
      <div class="row">
        <div class="col-xl-10 offset-xl-1">

          <div class="col-xl-12">
            <mat-form-field appearance="outline" class="texto">
              <mat-label>Nombre del restaurante</mat-label>
              <input matInput #nombre="ngModel" name="nombre"
              [(ngModel)]="restaurant.nombre" class="form-control" #nombre maxlength="100"
                autocomplete="off" required>
              <mat-hint align="end">{{nombre.value.length}} /100</mat-hint>
            </mat-form-field>
          </div>
          <div class="container">
            <div class="row">

              <div class="col-xs-12 col-md-6">
                <mat-form-field class="texto" appearance="outline">
                  <mat-label>Seleccione tipo de comida</mat-label>
                  <mat-select name="tipo_cocina" [(ngModel)]="restaurant.tipo_cocina" [formControl]="tipoControl" required>
                    <mat-option *ngFor="let tipo of tipos" [value]="tipo.name">
                      {{tipo.name}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="tipoControl.hasError('required')">No ha seleccionado tipo de restaurant</mat-error>
                </mat-form-field>

              </div>
              <div class="col-xs-12 col-md-6">
                <mat-form-field class="texto" appearance="outline">
                  <mat-label>Capacidad máxima del local</mat-label>
                  <input matInput type="number" #capacidad="ngModel" name="capacidad" [(ngModel)]="restaurant.capacidad" min="1" required>
                </mat-form-field>
              </div>

            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-xs-12 ">
                <mat-form-field appearance="outline" class="texto">
                  <mat-label>Horario</mat-label>
                  <input matInput #horario="ngModel" name="horario" [(ngModel)]="restaurant.horario"
                  class="form-control" #horario maxlength="100"
                    autocomplete="off" required>
                  <mat-hint align="end">{{horario.value.length}} /100</mat-hint>
                </mat-form-field>

              </div>
              <div class="col-xs-12">
                <mat-form-field appearance="outline" class="texto">
                  <mat-label>Dirección</mat-label>
                  <input matInput #direccion="ngModel" name="direccion" [(ngModel)]="restaurant.direccion"
                  class="form-control" #direccion maxlength="100"
                    autocomplete="off" required>
                  <mat-hint align="end">{{direccion.value.length}} /100</mat-hint>
                </mat-form-field>
              </div>
              <div class="col-xs-12 tip_ev">
                <!-- <textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="restaurant.descripcion" rows="4" class="form-control" placeholder="descripción del restaurant"></textarea> -->
                <mat-form-field class="texto" appearance="outline">
                  <mat-label>Descripción del restaurant</mat-label>
                  <textarea matInput #descripcion="ngModel" name="descripcion"
                   [(ngModel)]="restaurant.descripcion" rows="4" #cantidad maxlength="400"
                    autocomplete="off" required></textarea>
                  <mat-hint align="end">{{cantidad.value.length}} /400</mat-hint>
                </mat-form-field>
              </div>

              <div class="col-xl-12 tip_ev">
                <label>
                  <strong>Imagen Principal</strong>
                </label>
                <div class="div-imagen">
                  <br>
                  <div align="center">

                    <br *ngIf="imagenTemp">
                    <img *ngIf="restaurant.imagen && !imagenTemp" src="{{url+'get-img-restaurant/'+restaurant.imagen}}"
                     class="imgTemporal col-xl-10 img-fluid">
                <img *ngIf="imagenTemp" [src]="imagenTemp" class="imgTemporal col-xl-10 img-fluid">


                  </div>
                  <br >
                  <input type="file" class="offset-lg-3 imageD" (change)="fileChangeEvent($event , $event.target.files[0])">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="boton">
        <button class="btn volver btnsave" [routerLink]="['/restaurantedit']" type="button">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
          Regresar</button>
        <button class="btn guardar  btnsave" (click)="editRestaurant()" type="button">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
          Guardar</button>

      </div>
    </form>
  </div>
  <br>
</div>
