<br><br>
<section class="bg-light" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-subheading text-muted">Lista de Productos</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-xs-12  col-sm-6 portfolio-item" *ngFor="let producto of productos; let i=index">
        <div class="todo">
          <div class="portfolio-link">
            <img class="img-fluid img-prop" (click)="upProducto(producto._id)" src="{{url+'get-img-producto/'+producto.imagen}}">
          </div>
          <br>
          <div class="portfolio-caption posicion">
            <a (click)="upProducto(producto._id)" class="nav-link">
              <h5 class="prop-title">{{producto.nombre}}</h5>
            </a>
            <p class="text-muted parrafo">{{producto.descripcion}}</p>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</section>
